
.background {
  min-width: 600px;
  max-width: 1000px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  display: table;
  width: 70%;
  height: 1000px;
  background-size: cover;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
  box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

.barreNav {
  text-align: center;
  height: 45px;
  font-size: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.buttonnav {
  text-align: left;
  margin-top: -5px;
  font-size: 20px;
  width: 140px;
  padding-bottom: 30px;
  border: solid rgb(255, 255, 255);
  background-color: rgb(224, 112, 112);
  transition: transform 0.3s;
}

.buttonnav:hover {
  transform: translatey(-35px);
}

.cadreInfo {
  display: table;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.cadreText {
  margin-top: -215px;
  margin-left: 280px;
}


.salut {
  padding-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  width: 75px;
  height: 25px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(224, 112, 112);
}

.salut span {
  height: 9px;
  display: block;
  margin-top: -35px;
  margin-left: -30px;
  border-radius: 100%;
  border-style: solid;
  border-width: 0px 0px 0px 19px;
  transform: rotate(-70deg);
  border-color: rgb(224, 112, 112);

}

.cadreTextNom {
  font-weight: 400;
  margin-left: 65px;
  margin-top: -25px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.moicadre {
  margin: 15px;
  top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  transform: rotatey(180deg);
}

.coordonné {
  font-weight: 700;
  list-style: none;

}

.coordonné span {
  font-weight: 400;
  color: #9da0a7;
  line-height: 1.3
}

.moi {
  position: fixed;
  width: 200px;
  height: 200px;
}

.moi:hover {
  opacity: 0;
}

.moihey {
  position: fixed;
  width: 200px;
  height: 200px;
  transform: scalex(1.05);
}

.reseauxsociaux {
  height: max-content;
  padding: 10px;
  width: 100%;
  background-color: rgba(224, 112, 112);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 2rem;

  button {

    height: 60px;
    width: 60px;
    background-color: rgba(224, 112, 112);
    border-radius: 999px;
  }
  i {
    color: white;
  }
}


.reseauxsociaux button:hover {
  i {
    animation: rotateCustom 3s infinite linear;
  }
}


.iconCV {
  margin-left: 183px;
  margin-top: 340px;
  position: absolute;
  width: 30px;
  height: 30px;
}


.welcome {
  text-align: center;
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  background: rgb(0, 0, 0);
  box-shadow: 1px 10px 20px, -1px -10px 20px;

}

.buttonStargate {
  width: 411px;
  height: 411px;
  margin-top: 70px;
  border-radius: 100%;
  border: none;
  overflow: hidden;
}

.buttonStargate:hover {
  /* transform: rotate3d(0, 1, 0, 360deg);
  transition:  5s linear  ; */
  animation: rotateCustom 4s linear infinite;
}

@keyframes rotateCustom {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.stargate {
  width: 472%;
  height: 192%;
  border: none;
  margin-left: -187.2%;
  margin-top: -51%;
}

.presentation {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 60px;
}


.downloadCv button:active {
  transform: scale(1.05, 1.05);
}

.downloadCv {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
}

.downloadCv button {

}

/* .downloadCv img {
  display: table;
  margin-top: -78px;
  margin-left: 225px;
  width: 100px;
  padding-left: 135px;
  opacity: 0;
}

.downloadCv img:active {
  width: 100px;
  opacity: 1;
} */


.textExperiences {
  font-size: 15px;
  color: white;
  margin-top: 50px;
  line-height: 1.3;
}

.titreExperiences {
  font-weight: 900;
  font-style: oblique;
  font-size: 25px;
}


.cadreCompetences {
  margin: 15%;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;

}

.titreCompetences {
  text-align: center;
  font-weight: 900;
  font-style: oblique;
  font-size: 30px;
}

.textCompetences {
  font-size: 20px;
  margin-top: 50px;
  line-height: 1.3;
}

.videoCadre {
  width: 211px;
  height: 211px;
  float: right;
  margin-top: 0px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
}

.videoChauffeur {
  width: 1000px;
  height: 400px;
  border: none;
  margin-left: -400px;
  margin-top: -50px;
}


