
<header *ngIf="isVisible">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-nav">

        <a routerLink="/">
          <button mat-raised-button>Home</button>
        </a>
        <a routerLink="competences">
          <button mat-raised-button>Compétences</button>
        </a>
        <div class="containerPortfolio">
          <button class="buttonPortfolio" mat-raised-button >portfolio</button>
          <div class="portfolio">
            <a      *ngFor="let url of urlsRoute"
                    routerLink="/{{ url|lowercase }}"
                    [class.active]="router.url === '/' + url.toLowerCase()"
            >
              <button mat-raised-button>
                {{ url }}
              </button>
            </a>
          </div>

        </div>

      </div>

    </div>

  </nav>

</header>
